
<div class="border-b border-gray-400 mx-12">
  <nav class="mx-auto p-2 text-white flex justify-between items-center container max-w-5xl ">

    <div class="flex items-center space-x-2">
      <img src="" alt="Logo" class="h-10" />
    </div>

    <div class="hidden md:flex space-x-4">
      <ng-container *ngFor="let link of links">
        <a [href]="link.path" class="text-white px-3 py-4 rounded-md text-sm font-light">{{ link.title }}</a>
      </ng-container>
    </div>


    <button class="md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>

  </nav>
</div>
