<app-small-layout [defaultNavLinks]="defaultNavLinks" [headerData]="headerData">
  <app-title [title]="title"></app-title>
  <form  #helpFormDirective="ngForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-wrap -mx-3 overflow-hidden pb-20">

      <div class="my-3  pl-20 pr-5 w-full overflow-hidden lg:w-1/2">
        <div class="mb-4">
          <app-small-input
            [placeholder]="'Full Name'"
            [type]="'text'"
            [(value)]="reliefRequest.fullname"
            [name]="'fullName'"
          ></app-small-input>
        </div>

        <div class="mb-4">
          <app-small-input
            [placeholder]="'phone'"
            [type]="'text'"
            [(value)]="reliefRequest.phone"
            [name]="'phone'"
          ></app-small-input>
        </div>

        <div class="mb-4">
          <app-form-select-input
            [options]="disasterOptions"
            [selectedValue]="reliefRequest.disasterId"
            (selectedValueChange)="onDisasterSelected($event)"
            [placeholder]="selectPlaceHolder"
          ></app-form-select-input>
        </div>

        <div class="mb-4">
          <app-small-input
            [placeholder]="'address'"
            [type]="'text'"
            [(value)]="reliefRequest.address"
            [name]="'address'"
          ></app-small-input>
        </div>
        <div>
          <app-text-area

            [placeholder]="'Express your needs'"
            [(value)]="reliefRequest.expressNeeds"
            [name]="'needs'"

          >

          </app-text-area>
        </div>
        <div class="pt-3">
          <app-submite-button></app-submite-button>

        </div>
      </div>

      <div class="my-3 px-3 w-full overflow-hidden lg:w-1/2">
        <p class="text-s font-light text-gray-700 mb-2">Precize your zone: </p>
        <div id="map" style="height: 270px;" class="mr-10 ml-5 rounded"></div>

      </div>

    </div>
  </form>


</app-small-layout>
