.map-style{
    height: 500px;
    border-radius: 10px;
    outline: none   ;
}

h1{
    font-size: 35px;
    font-weight: bold;
    color: #148980;
}

p{
    font-size: 15px;
    color: #555555;
}
h2{
    color: #148980;
    font-size: 18px;
}
